In [2]:
import pandas as pd
import datetime
import numpy as np

In [7]:
df = pd.read_csv("optionday.csv", encoding='gb2312') # load daily option price data with greeks, source: wind

In [9]:
df.columns

Index(['No.', 'date', 'option_code', 'tradecode', 'exerciseprice',
       'option_name', 'change', 'amount', 'pre_settle', 'open', 'highest',
       'lowest', 'close', 'settlement_price', 'volume', 'position',
       'up_limit_price', 'down_limit_price', 'delta', 'gamma', 'vega', 'theta',
       'rho'],
      dtype='object')

In [10]:
df.date = pd.to_datetime(df.date)

In [11]:
df.head()

,No.,date,option_code,tradecode,exerciseprice,option_name,change,amount,pre_settle,open,...,settlement_price,volume,position,up_limit_price,down_limit_price,delta,gamma,vega,theta,rho
0,1,2018-01-31,10000969,510050C1803A02600,2.553,50ETF购2018年3月2.553A,5.156706,1338158,0.5488,0.5504,...,0.5820,230,1348,0.8563,0.2413,0.945,0.270,0.135,-0.218,0.362
1,2,2018-01-31,10000970,510050C1803A02650,2.602,50ETF购2018年3月2.602A,6.528249,1655531,0.5009,0.5060,...,0.5416,315,1393,0.8084,0.1934,0.915,0.354,0.190,-0.291,0.354
2,3,2018-01-31,10000971,510050C1803A02700,2.651,50ETF购2018年3月2.651A,8.000882,1410268,0.4537,0.4427,...,0.4881,294,2393,0.7612,0.1462,0.923,0.383,0.176,-0.247,0.366
3,4,2018-01-31,10000972,510050C1803A02750,2.700,50ETF购2018年3月2.70A,8.429874,1099191,0.4057,0.3961,...,0.4397,255,2208,0.7132,0.0982,0.915,0.448,0.190,-0.246,0.370
4,5,2018-01-31,10000973,510050C1803A02800,2.749,50ETF购2018年3月2.749A,8.531469,2646831,0.3575,0.3540,...,0.3902,693,3149,0.6650,0.0500,0.910,0.522,0.198,-0.236,0.375

In [13]:
df = df.loc[100 * df.exerciseprice % 5 < 1e-7] # might be wrong, should avoid this

 # checkout dividend http://www.sse.com.cn/assortment/options/guide/c/c_20161121_4201435.shtml

In [16]:
df = df.loc[df.tradecode.str.contains('M')]

In [20]:
df = df.sort_values('date')

In [21]:
df

,No.,date,option_code,tradecode,exerciseprice,option_name,change,amount,pre_settle,open,...,settlement_price,volume,position,up_limit_price,down_limit_price,delta,gamma,vega,theta,rho
3365,3366,2018-01-02,10001170,510050P1806M03100,3.10,50ETF沽2018年6月3.10,-16.451613,1002180,0.2480,0.2423,...,0.2072,455,349,0.5338,0.0001,-0.677,1.253,0.725,-0.043,-1.049
3313,3314,2018-01-02,10001114,510050P1803M03000,3.00,50ETF沽2018年3月3.00,-22.756827,1506176,0.1538,0.1534,...,0.1188,1154,7442,0.4396,0.0001,-0.635,1.975,0.527,-0.096,-0.457
3314,3315,2018-01-02,10001115,510050C1806M02800,2.80,50ETF购2018年6月2.80,12.360595,3028845,0.2152,0.2262,...,0.2418,1286,2217,0.5010,0.0001,0.671,0.898,0.731,-0.201,0.824
3315,3316,2018-01-02,10001116,510050C1806M02850,2.85,50ETF购2018年6月2.85,12.892741,497006,0.1846,0.1940,...,0.2084,244,6196,0.4704,0.0001,0.625,0.966,0.765,-0.201,0.776
3316,3317,2018-01-02,10001117,510050C1806M02900,2.90,50ETF购2018年6月2.90,12.617702,1591998,0.1593,0.1603,...,0.1794,905,5013,0.4409,0.0001,0.576,1.012,0.791,-0.201,0.721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,2018-01-31,10001199,510050C1803M03500,3.50,50ETF购2018年3月3.50,33.333333,770971,0.0075,0.0072,...,0.0100,8477,25901,0.2725,0.0001,0.087,0.631,0.193,-0.136,0.040
123,124,2018-01-31,10001200,510050P1803M03500,3.50,50ETF沽2018年3月3.50,-12.729412,3742972,0.4250,0.4158,...,0.3870,981,5150,0.7325,0.1175,-0.883,0.691,0.239,-0.089,-0.481
124,125,2018-01-31,10001201,510050C1806M03500,3.50,50ETF购2018年6月3.50,15.914489,780019,0.0421,0.0391,...,0.0488,1722,11217,0.3071,0.0001,0.223,0.751,0.589,-0.166,0.260
100,101,2018-01-31,10001169,510050P1806M02650,2.65,50ETF沽2018年6月2.65,-4.504505,68973,0.0111,0.0111,...,0.0106,627,6043,0.2336,0.0001,-0.062,0.337,0.243,-0.050,-0.082
48,49,2018-01-31,10001105,510050C1803M02800,2.80,50ETF购2018年3月2.80,10.974425,9153536,0.3089,0.3010,...,0.3428,2870,3205,0.6164,0.0014,0.887,0.648,0.233,-0.255,0.371

In [22]:
option_info = pd.read_csv("optioninfo.csv", encoding='gb2312')

In [47]:
2.553 * 10185 / 2.600

10000.886538461538

In [24]:
this_date = datetime.datetime(2018,1,2)

In [26]:
#TODO:  write a function to get near term and next term option
near_term_expire_month, next_term_expire_month = '2018-01', '2018-02'

In [33]:
near_term_options = option_info.loc[option_info.limit_month == near_term_expire_month]
next_term_options = option_info.loc[option_info.limit_month == next_term_expire_month]

In [34]:
near_term_options = set(near_term_options.wind_code)
next_term_options = set(next_term_options.wind_code)

In [31]:
near_term_options

{10001073,
 10001074,
 10001075,
 10001076,
 10001077,
 10001078,
 10001079,
 10001080,
 10001081,
 10001082,
 10001083,
 10001084,
 10001095,
 10001096,
 10001097,
 10001098,
 10001099,
 10001100,
 10001101,
 10001102,
 10001103,
 10001104,
 10001127,
 10001128,
 10001135,
 10001136,
 10001151,
 10001152,
 10001153,
 10001154,
 10001171,
 10001172,
 10001179,
 10001180,
 10001187,
 10001188,
 10001195,
 10001196,
 10001203,
 10001204}

In [35]:
df1 = df.loc[(df.date == this_date) & (df.option_code.isin(near_term_options))]

In [39]:
df1_call = df1.loc[df1.option_name.str.contains('购')]
df1_put = df1.loc[df1.option_name.str.contains('沽')]

In [40]:
df1_call

,No.,date,option_code,tradecode,exerciseprice,option_name,change,amount,pre_settle,open,...,settlement_price,volume,position,up_limit_price,down_limit_price,delta,gamma,vega,theta,rho
3324,3325,2018-01-02,10001127,510050C1801M02750,2.75,50ETF购2018年1月2.75,30.023095,30995890,0.1299,0.1296,...,0.1689,19484,16106,0.4157,0.0001,0.896,1.340,0.129,-0.273,0.147
3294,3295,2018-01-02,10001095,510050C1801M02800,2.80,50ETF购2018年1月2.80,40.639269,46674993,0.0876,0.0889,...,0.1232,41113,26266,0.3734,0.0001,0.833,2.071,0.179,-0.319,0.138
3295,3296,2018-01-02,10001096,510050C1801M02850,2.85,50ETF购2018年1月2.85,46.140351,86436670,0.0570,0.0624,...,0.0833,114042,41289,0.3428,0.0001,0.714,2.961,0.243,-0.382,0.120
3296,3297,2018-01-02,10001097,510050C1801M02900,2.90,50ETF购2018年1月2.90,48.587571,66612823,0.0354,0.0388,...,0.0526,142194,98316,0.3170,0.0001,0.550,3.428,0.283,-0.424,0.093
3297,3298,2018-01-02,10001098,510050C1801M02950,2.95,50ETF购2018年1月2.95,48.780488,17391759,0.0205,0.0211,...,0.0305,65949,69571,0.2971,0.0001,0.381,3.280,0.272,-0.399,0.065
3298,3299,2018-01-02,10001099,510050C1801M03000,3.00,50ETF购2018年1月3.00,44.444444,5960430,0.0108,0.0110,...,0.0156,44657,81260,0.2824,0.0001,0.233,2.650,0.218,-0.312,0.040
3330,3331,2018-01-02,10001135,510050C1801M02700,2.70,50ETF购2018年1月2.70,25.763689,13584652,0.1735,0.1758,...,0.2182,6538,5341,0.4593,0.0001,0.917,0.942,0.109,-0.276,0.148
3346,3347,2018-01-02,10001151,510050C1801M02650,2.65,50ETF购2018年1月2.65,22.914757,3491061,0.2182,0.2212,...,0.2683,1363,386,0.5040,0.0001,0.928,0.715,0.098,-0.290,0.146
3347,3348,2018-01-02,10001152,510050C1801M03100,3.10,50ETF购2018年1月3.10,9.375000,440173,0.0032,0.0030,...,0.0035,14170,8057,0.2648,0.0001,0.066,1.076,0.091,-0.132,0.011

In [41]:
df1_put

,No.,date,option_code,tradecode,exerciseprice,option_name,change,amount,pre_settle,open,...,settlement_price,volume,position,up_limit_price,down_limit_price,delta,gamma,vega,theta,rho
3325,3326,2018-01-02,10001128,510050P1801M02750,2.75,50ETF沽2018年1月2.75,-60.000000,513307,0.0050,0.0049,...,0.0020,21194,51944,0.2692,0.0001,-0.048,0.985,0.071,-0.079,-0.008
3299,3300,2018-01-02,10001100,510050P1801M02800,2.80,50ETF沽2018年1月2.80,-61.538462,3290037,0.0143,0.0142,...,0.0055,46249,66995,0.2885,0.0001,-0.113,2.005,0.137,-0.142,-0.020
3300,3301,2018-01-02,10001101,510050P1801M02850,2.85,50ETF沽2018年1月2.85,-54.437870,14976394,0.0338,0.0322,...,0.0154,80493,71051,0.3180,0.0001,-0.255,3.291,0.229,-0.238,-0.046
3301,3302,2018-01-02,10001102,510050P1801M02900,2.90,50ETF沽2018年1月2.90,-44.607843,38860805,0.0612,0.0598,...,0.0339,101038,59127,0.3470,0.0001,-0.444,3.994,0.282,-0.285,-0.080
3302,3303,2018-01-02,10001103,510050P1801M02950,2.95,50ETF沽2018年1月2.95,-36.701031,22309236,0.0970,0.0952,...,0.0614,32840,17522,0.3828,0.0001,-0.643,3.800,0.266,-0.248,-0.116
3303,3304,2018-01-02,10001104,510050P1801M03000,3.00,50ETF沽2018年1月3.00,-31.549296,18861153,0.1420,0.1381,...,0.0972,17951,16455,0.4278,0.0001,-0.815,2.819,0.191,-0.138,-0.149
3349,3350,2018-01-02,10001154,510050P1801M03100,3.10,50ETF沽2018年1月3.10,-23.966942,5390295,0.2420,0.2330,...,0.1930,2760,840,0.5278,0.0001,-0.911,1.214,0.115,-0.094,-0.171
3348,3349,2018-01-02,10001153,510050P1801M02650,2.65,50ETF沽2018年1月2.65,20.000000,19651,0.0005,0.0005,...,0.0006,2850,1756,0.2447,0.0001,-0.012,0.258,0.023,-0.031,-0.002
3331,3332,2018-01-02,10001136,510050P1801M02700,2.70,50ETF沽2018年1月2.70,-57.142857,81191,0.0021,0.0022,...,0.0009,6607,23864,0.2563,0.0001,-0.021,0.464,0.036,-0.044,-0.004

In [50]:
df1_call = df1_call.sort_values('exerciseprice')
df1_put = df1_put.sort_values('exerciseprice')

In [51]:
df1_call, df1_put

(       No.       date  option_code          tradecode  exerciseprice  \
 3346  3347 2018-01-02     10001151  510050C1801M02650           2.65
 3330  3331 2018-01-02     10001135  510050C1801M02700           2.70
 3324  3325 2018-01-02     10001127  510050C1801M02750           2.75
 3294  3295 2018-01-02     10001095  510050C1801M02800           2.80
 3295  3296 2018-01-02     10001096  510050C1801M02850           2.85
 3296  3297 2018-01-02     10001097  510050C1801M02900           2.90
 3297  3298 2018-01-02     10001098  510050C1801M02950           2.95
 3298  3299 2018-01-02     10001099  510050C1801M03000           3.00
 3347  3348 2018-01-02     10001152  510050C1801M03100           3.10

             option_name     change    amount  pre_settle    open  ...  \
 3346  50ETF购2018年1月2.65  22.914757   3491061      0.2182  0.2212  ...
 3330  50ETF购2018年1月2.70  25.763689  13584652      0.1735  0.1758  ...
 3324  50ETF购2018年1月2.75  30.023095  30995890      0.1299  0.1296  ...
 3294  50ETF购2018年1月2.80  40.639269  46674993      0.0876  0.0889  ...
 3295  50ETF购2018年1月2.85  46.140351  86436670      0.0570  0.0624  ...
 3296  50ETF购2018年1月2.90  48.587571  66612823      0.0354  0.0388  ...
 3297  50ETF购2018年1月2.95  48.780488  17391759      0.0205  0.0211  ...
 3298  50ETF购2018年1月3.00  44.444444   5960430      0.0108  0.0110  ...
 3347  50ETF购2018年1月3.10   9.375000    440173      0.0032  0.0030  ...

       settlement_price  volume  position  up_limit_price  down_limit_price  \
 3346            0.2683    1363       386          0.5040            0.0001
 3330            0.2182    6538      5341          0.4593            0.0001
 3324            0.1689   19484     16106          0.4157            0.0001
 3294            0.1232   41113     26266          0.3734            0.0001
 3295            0.0833  114042     41289          0.3428            0.0001
 3296            0.0526  142194     98316          0.3170            0.0001
 3297            0.0305   65949     69571          0.2971            0.0001
 3298            0.0156   44657     81260          0.2824            0.0001
 3347            0.0035   14170      8057          0.2648            0.0001

       delta  gamma   vega  theta    rho
 3346  0.928  0.715  0.098 -0.290  0.146
 3330  0.917  0.942  0.109 -0.276  0.148
 3324  0.896  1.340  0.129 -0.273  0.147
 3294  0.833  2.071  0.179 -0.319  0.138
 3295  0.714  2.961  0.243 -0.382  0.120
 3296  0.550  3.428  0.283 -0.424  0.093
 3297  0.381  3.280  0.272 -0.399  0.065
 3298  0.233  2.650  0.218 -0.312  0.040
 3347  0.066  1.076  0.091 -0.132  0.011

 [9 rows x 23 columns],
        No.       date  option_code          tradecode  exerciseprice  \
 3348  3349 2018-01-02     10001153  510050P1801M02650           2.65
 3331  3332 2018-01-02     10001136  510050P1801M02700           2.70
 3325  3326 2018-01-02     10001128  510050P1801M02750           2.75
 3299  3300 2018-01-02     10001100  510050P1801M02800           2.80
 3300  3301 2018-01-02     10001101  510050P1801M02850           2.85
 3301  3302 2018-01-02     10001102  510050P1801M02900           2.90
 3302  3303 2018-01-02     10001103  510050P1801M02950           2.95
 3303  3304 2018-01-02     10001104  510050P1801M03000           3.00
 3349  3350 2018-01-02     10001154  510050P1801M03100           3.10

             option_name     change    amount  pre_settle    open  ...  \
 3348  50ETF沽2018年1月2.65  20.000000     19651      0.0005  0.0005  ...
 3331  50ETF沽2018年1月2.70 -57.142857     81191      0.0021  0.0022  ...
 3325  50ETF沽2018年1月2.75 -60.000000    513307      0.0050  0.0049  ...
 3299  50ETF沽2018年1月2.80 -61.538462   3290037      0.0143  0.0142  ...
 3300  50ETF沽2018年1月2.85 -54.437870  14976394      0.0338  0.0322  ...
 3301  50ETF沽2018年1月2.90 -44.607843  38860805      0.0612  0.0598  ...
 3302  50ETF沽2018年1月2.95 -36.701031  22309236      0.0970  0.0952  ...
 3303  50ETF沽2018年1月3.00 -31.549296  18861153      0.1420  0.1381  ...
 3349  50ETF沽2018年1月3.10 -23.966942   5390295      0.2420  0.2330  ...

       settlement_price  volume  position  up_limit_price  down_limit_price  \
 3348            0.0006    2850      1756          0.2447            0.0001
 3331            0.0009    6607     23864          0.2563            0.0001
 3325            0.0020   21194     51944          0.2692            0.0001
 3299            0.0055   46249     66995          0.2885            0.0001
 3300            0.0154   80493     71051          0.3180            0.0001
 3301            0.0339  101038     59127          0.3470            0.0001
 3302            0.0614   32840     17522          0.3828            0.0001
 3303            0.0972   17951     16455          0.4278            0.0001
 3349            0.1930    2760       840          0.5278            0.0001

       delta  gamma   vega  theta    rho
 3348 -0.012  0.258  0.023 -0.031 -0.002
 3331 -0.021  0.464  0.036 -0.044 -0.004
 3325 -0.048  0.985  0.071 -0.079 -0.008
 3299 -0.113  2.005  0.137 -0.142 -0.020
 3300 -0.255  3.291  0.229 -0.238 -0.046
 3301 -0.444  3.994  0.282 -0.285 -0.080
 3302 -0.643  3.800  0.266 -0.248 -0.116
 3303 -0.815  2.819  0.191 -0.138 -0.149
 3349 -0.911  1.214  0.115 -0.094 -0.171

 [9 rows x 23 columns])

In [56]:
price_diff1 = [abs(c - p) for c, p in zip(df1_call.close.to_list(), df1_put.close.to_list())]

In [67]:
idx1 = np.array(price_diff1).argmin()

In [60]:
#TODO:  write a function to get near term, next term expire time
near_term_exercise_time = pd.to_datetime('2018-01-24 9:30')

In [61]:
this_time = pd.to_datetime('2018-01-02 15:00')

In [62]:
T1 = near_term_exercise_time - this_time

In [64]:
T1 = (T1.days + T1.seconds / 3600 / 60) / 365.0

In [65]:
T1

0.05837899543378996

In [66]:
r1 = 0.025

In [68]:
F1 = df1_call.iloc[idx1].exerciseprice + np.exp(r1 * T1) * price_diff1[idx1]

In [69]:
F1

2.9187273121061836

In [ ]:
# write a function to determine K0 - the strike price equal to or otherwise immediately below the forward index level, F - for the near- and next-term options term options.

In [70]:
df1_call.exerciseprice

3346    2.65
3330    2.70
3324    2.75
3294    2.80
3295    2.85
3296    2.90
3297    2.95
3298    3.00
3347    3.10
Name: exerciseprice, dtype: float64

In [71]:
df1_put.exerciseprice

3348    2.65
3331    2.70
3325    2.75
3299    2.80
3300    2.85
3301    2.90
3302    2.95
3303    3.00
3349    3.10
Name: exerciseprice, dtype: float64